h2 {
  color: #d49726;
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: 16rem58px;
  margin-bottom: 2rem;
}

.imgdetails {

 border-radius: 1.5rem;
 height: 30rem;
}
.details_container {
  display: flex;
  justify-content: space-around;
}

.details_button {
  background-color: red;
  color: white;
  align-items: center;
    background-color: red;
    border-radius: 6px;
    color: #fff;
    display: flex;
    font-family: Raleway;
    font-weight: 700;
    height: 4.5rem;
    justify-content: center;
    margin: 6rem 0;
    width: 20rem;
    text-decoration: none;
    margin-left: 5rem
}
.instructions {
 margin-left: 5rem;
 margin-right: 5rem ;
}
h4 {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  margin-top: 5rem;
}
ul li{
  text-align: left;
  margin-left: -30px;
}

